   
    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Signup to our newsletter</h4>
            <p>Get E-mail updates about our <span>special offers</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your E-mail Address">
            <button class="normal">Signup</button>
        </div>
    </section>


    <!-- footerSection -->
    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="logo.png" alt="LOGO">
            <h4>Contact</h4>
            <p> <strong>Address:</strong> Rashmi Sweets, Munshi Puliya, Indira Nagar, Lucknow</p>
            <p> <strong>Phone:</strong> 012346789, 9876543210</p>
            <p> <strong>Active Hours:</strong> 10am to 11pm Everday</p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms and Conditions</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wish List</a>
            <a href="#">Track Order</a>
            <a href="#">Help</a>
        </div>

        <div class="col install">
            <p>Secure Payment Gatways</p>
            <img src="pay/pay.png" alt="paySource">
        </div>
        </div>

        <div class="copyright">
            <p>All Rights Reserved @ Rashmi Sweets 2022-2024</p>
        </div>
    </footer>



    <script src="script.js"></script>

</body>

</html>