<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rashmi Sweets</title>
    <!-- <link rel="stylesheet" href="https://pro.fontaw">  -->
    <script src="https://kit.fontawesome.com/ac60f17f45.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <!-- NavBar -->
    <section id="header">
        <a href="#"> <img src="logo/logo.png" class="logo" alt="LOGO"> </a>
        <div>
            <ul id="navbar">
                <li> <a href="/">Home</a> </li>
                <li> <a class="active" href="/shop">Shop</a> </li>
                <li> <a href="/about">About</a> </li>
                <li> <a href="/contact">Contact</a> </li>
                <li id="lg-bag"><a href="cart.html"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                <a href="#" id="close"><i class="far fa-times"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="cart.html"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>

    <!-- HeroSection -->
    <section id="page-header">
        <!-- <h4>Rashmi Sweets</h4> -->
        <h2> #SweetParadise</h2>
        <p>So, What you wanna Eat Today?</p>


    </section>
