
<%- include('partials/header.ejs') %>

    <!-- Maps&Texts -->

    <section id="contact-details" class="section-p1">
        <div class="details">
            <span>Get in Touch</span>
            <h2>Visit one of our Stores or Contact us Today </h2>
            <h3>Head Branch</h3>
        </div>
        <li>
            <i class="fa-regular fa-map"></i>
            <p>Rashmi Sweets, Munshi Puliya, Lucknow</p>
        </li>
        <li>
            <i class="fa-regular fa-envelope"></i>
            <p>rashmisweetsShop@gmail.com</p>
        </li>
        <li>
            <i class="fa-regular fa-phone"></i>
            <p>9876543210</p>
        </li>
        <li>
            <i class="fa-regular fa-clock"></i>>
            <p> 10am to 11pm Everday </p>
        </li>
    </section>


    <%- include('partials/footer.ejs') %>